*{
  border: 0;
  margin: 0;
}
$color1: black;
$color2: white;
$color3: orangered;
$color4: rgb(20, 20, 20);
$color5: rgb(78, 77, 77);
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
.header{
    background-color: $color1;
    min-height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #logo{
        color: $color2;
        font-size: 30px;
        margin-left: 50px;
        font-weight: 900;
        font-family: 'Tapestry', cursive;

        #logoSpan{
            color: $color3;
        }
    }
    .barra{
        ul{
          display: flex;
            li{
              margin: 0 20px;
              list-style: none;
                #barra-estilo{
                  text-decoration: none;
                    color: $color2;
                    font-size: 22px;
                    font-weight: 900;
                    font-family: 'Tapestry', cursive;
                    &:hover{
                        color: $color3;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
